<div class="contenedor">
  <h1>Mercado Cripto</h1>

  <div style="margin-bottom: 20px;">
    <input 
      type="text" 
      placeholder="Busca una moneda (ej. Bitcoin)..." 
      style="padding: 10px; width: 100%; border-radius: 5px; border: 1px solid #ccc;"
      [value]="textoBusqueda()"
      (input)="textoBusqueda.set($any($event.target).value)"
    >

    <button (click)="toggleFiltros()" style="background: #333; color: white; padding: 5px 15px; border: none; border-radius: 4px; cursor: pointer;">
      ⚙️ Filtros Avanzados
    </button>

    <div 
      [@desplegarFiltros]="filtrosAbiertos() ? 'abierto' : 'cerrado'" 
      style="overflow: hidden; background: #2a2a2a; border-radius: 5px; margin-top: 10px; color: #00bcd4;">
      
      <p>Aquí podríamos poner selectores de tendencia, elegir un mercado base, o un rango de precios...</p>
      <label><input type="checkbox"> Solo monedas alcistas</label><br>
      <label><input type="checkbox"> Solo mis favoritos</label>
      
    </div>
  </div>

  <!-- @if (monedaDestacada()) {
    <app-panel-detalles
    [monedaActiva]="monedaDestacada()!"
    (cerrarPanel)="monedaDestacada.set(undefined)"></app-panel-detalles>
  }
  @if (!monedaDestacada()) {
  <button (click)="monedaDestacada.set(bancoCripto.obtenerMonedas()[0])">Destacar bitcoin</button>

  } -->
  
  @if (ultimaCompra()) {
    
    <ng-container *ngComponentOutlet="
        plantillaAlerta; 
        inputs: { 
          moneda: ultimaCompra(),
          cerrar: cerrarAlerta }; 
    "></ng-container>

  }

  <div class="grid">
    @for(monedaIterada of monedasFiltradas(); track monedaIterada.simbolo) {
        <app-tarjeta-cripto 
          [moneda]="monedaIterada"
          (comprado)="registrarCompra($event)">
          

        </app-tarjeta-cripto>
      
        
    } @empty {
      <p>No hay criptomonedas disponibles.</p>
    }
  </div>
</div>
<div style="margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd; font-size: 0.9em; color: gray;">
  <p>Operando en los mercados: {{ mercadosSoportados.join(', ') }}</p>
  
  @if (esModoOscuro) {
    <p>🌙 Modo oscuro activado</p>
  } @else {
    <p>☀️ Modo oscuro no disponible (Token opcional no encontrado)</p>
  }
</div>